* {
    margin: 0px;
    padding: 0px;
}

body {
    background: gray;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

h1, h2, h3, h4, h5, p {
    color: black;
    font-family: Georgia, "Book Antiqua", "Palatino Linotype", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: lighter;

}

header {
    background: #00529B;
    padding-left: 28px;
    padding-right: 30px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    color: #00529B;
    font-size: 28px;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    color: #00529B;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 20px;
}

h4 {
    color: #00529B;
    font-size: 20px;
    line-height: 28px;
    padding-top: 10px;
    padding-botton: 20px;
}

p {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 20px;
}

div.center-window {
    background: white;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
}

div.body {
    padding-left: 28px;
    padding-right: 30px;
}

div.input-row {
    padding-bottom: 4px;
}

div.result {
    visibility: hidden;
    padding-bottom: 20px;
}

input[type=text] {
    border-radius: 5px;
    padding: 4px 16px;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: light;
    margin-right: 2px;
}

input.button-1 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
    background-color: #515354;
    border-radius: 5px;
    border-bottom-color: #333;
    border: none;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
    color: white;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    padding: 4px 16px;
}

input.button-2 {
    background-color: #00529B;
}

input.button-close {
    background-color: #e20808;
    height: 30px;
}